# mv file to /etc/systemd/system
# add the gunicorn service and socket files to requires
[Unit]
Description=scraper daemon
Requires=network.target

[Service]
User=tecimler96
Group=www-data
WorkingDirectory=/home/tecimler96/APP/delivery-app-be/scraper
ExecStart=/home/tecimler96/APP/delivery-app-be/scraper/run

[Install]
WantedBy=multi-user.target